body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(./images/giorgio-trovato-WyxqQpyFNk8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
